<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="OOP2[I]" connectionString="server=.\sqlexpress;database=OOP2[I];integrated security=true;"
   providerName="System.Data.SqlClient" />
  <add name="ChefsFoodManagement.Properties.Settings.OOP2_I_ConnectionString"
   connectionString="Data Source=.\sqlexpress;Initial Catalog=OOP2[I];Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>